{% extends "layout.html" %}

{% block content %}
        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Thumbnail Gallery</h1>
            </div>

            {% for i in images %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/thumb{{ i }}" alt="">
                </a>
            </div>
            {% endfor %}

        </div>

        <div class="row">
            <ul>
            {% for i in subs %}
            <li><a href="./{{ i[0] }}">{{ i[1] }}</a></li>
            {% endfor %}
            </ul>
        </div>
{% endblock %}
